.cform_container {
  border-radius: 7px;
    background-color: #fff;
    margin: 0 10%;
}
@media screen and (max-width: 600px) {
	.cform_container {
	margin: 10px;
	}
  
  input[type=text], [type=email], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #660066;
  color: white;
  padding: 1px 1px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 35%;
}

input[type=submit].primary:hover,
input[type=reset].primary:hover,
input[type=button].primary:hover,button.primary:hover, .button.primary:hover {
	background-color: #AE00C7; !important;
	color: #ffffff !important;
				}
